.card {
    flex-basis: 30%;
    perspective: 100rem;
    position: relative;
    min-height: 30rem;

    @include respond(tab-land) {
        flex-basis: 32%;
    }

    @include respond(tab-port) {
        margin-bottom: 5rem;
        max-width: 70%;
        margin-left: 15%;
    }

    &-side {
        background-color: $color-white;
        width: 100%;
        min-height: 30rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 10px 20px #3b3b3b31;
        overflow: hidden;

        &-front {
            background-color: $color-white;
        }
        &-back {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotateY(180deg); 

            &-one {
                background: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange);
            }

            &-two {
                background: linear-gradient(to right bottom, $color-light-green, $color-dark-green);
            }

            &-three {
                background: linear-gradient(to right bottom, $color-light-blue, $color-dark-blue);
            }
        }
    }

    &:hover &-side-front {
        transform: rotateY(-180deg); 
    }

    &:hover &-side-back {
        transform: rotateY(0); 
    }

    &-image {
        height: 12.5rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &-one {
            background: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange), url(../img/nat-5.jpg) center no-repeat;
            background-size: cover;
        }

        &-two {
            background: linear-gradient(to right bottom, $color-light-green, $color-dark-green), url(../img/nat-6.jpg) center no-repeat;
            background-size: cover;
        }

        &-three {
            background: linear-gradient(to right bottom, $color-light-blue, $color-dark-blue), url(../img/nat-7.jpg) center no-repeat;
            background-size: cover;
        }
    }

    &-heading {
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 7rem;
        right: 2rem;
        width: 75%;
    }

    &-heading-span {
        padding: 0.5rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-one {
            background: linear-gradient(to right bottom, rgba($color-light-orange, 0.85), rgba($color-dark-orange, 0.85));
        }

        &-two {
            background: linear-gradient(to right bottom, rgba($color-light-green, 0.85), rgba($color-dark-green, 0.85));
        }

        &-three {
            background: linear-gradient(to right bottom, rgba($color-light-blue, 0.85), rgba($color-dark-blue, 0.85));
        }
    }

    &-content {
        ul {
            list-style: none;
            width: 80%;
            margin: auto;
            padding-bottom: 2rem;

            li {
                text-align: center;
                padding: 0.7rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-light-grey;
                }
            }
        }
    }

    &-cta-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-price-box {
        color: $color-white;
        margin-bottom: 2.5rem;
    }

    &-price-only {
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &-price-value {
        font-size: 3.5rem;
        font-weight: 100;
    }
}