.composition {
    position: relative;
    margin-bottom: 5rem22;

    &-photo {
        width: 55%;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        position: absolute;
        transition: all 0.2s;
        outline-offset: 0.5rem;

        &-one {
            left: 0;
            top: -2rem
        }

        &-two {
            right: 0;
            top: 2rem
        }

        &-three {
            left: 20%;
            top: 6rem
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
            z-index: 100;
            outline: 3px solid $color-medium-green;
        }
    }
}