.story {
    width: 60%;
    margin: 1rem auto 5rem auto;
    background-color: rgba($color-white, 0.6);
    box-shadow: 0 10px 20px #3a3a3a3a;
    border-radius: 3px;
    padding: 3rem 4.5rem 3rem 6.5rem;
    min-height: 16rem;
    transform: skewX(-12deg);

    &-shape {
        width: 10rem;
        height: 10rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-2rem) skewX(11.9deg);
        position: relative;
    }

    &-text {
        transform: skewX(12deg);
    }

    &-image {
        height: 100%;
        transform: translate(-2.5rem) scale(1.2);
        transition: all 0.3s;
        backface-visibility: hidden;
    }

    &-caption {
        text-transform: uppercase;
        color: $color-white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover &-caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &-image {
        filter: blur(2px) brightness(80%);
        transform: translate(-2.5rem) scale(1);
    }
}