.u-center-text {
    text-align: center;
}

.u-margin-top {
    margin-top: 7rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-bottom {
    margin-bottom: 3rem;
}

.center-content {
    width: 80%;
    margin: auto;
}