.section-about {
    background-color: $color-light-grey;
    padding: 15rem 0;
    margin-top: -20vh;

    &-content,
    &-images {
        flex-basis: 48%;
    }

    @include respond(tab-port) {
        margin-top: 0;
        padding: 7rem 0;
    }
}

.section-features {
    padding: 15rem 0;
    margin-top: -25vh;
    background: linear-gradient(to right bottom, rgba($color-light-green, 0.8), rgba($color-dark-green, 0.8)), url('../img/nat-10.jpg') top;
    background-size: cover;
    clip-path: polygon(0 20vh, 100% 0, 100% 80vh, 0 100%);

    @include respond(tab-port) {
        margin-top: 20rem;
        padding: 7rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.section-tours {
    background-color: $color-light-grey;
    padding: 15rem 0;
    padding-bottom: 3rem;
    margin-top: -25vh;

    @include respond(tab-port) {
        margin-top: 0;
        padding: 5rem 0;
    }
} 

.section-stories {
    padding: 5rem 0;
    position: relative;
}

.section-booking {
    padding: 7rem;
    background: linear-gradient(to right bottom, rgba($color-light-green, 0.8), rgba($color-dark-green, 0.8));
}

.book {
    background: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 0%), url('../img/nat-10.jpg');
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 10px 20px #29292936;

    &-form {
        padding: 4rem;
        width: 50%;
    }
}
